<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/cutomer/buyer-dashboard">Buyer</a></li>
    <li class="breadcrumb-item"><a>Checkout</a></li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-8" *ngIf="individual_product">
    <div class="card">
      <div class="card-header">
        Product Details
      </div>
      <div class="card-body product-detail">
        <div class="row">
          <div class="col-md-4">
            <img [src]="individual_product.uploadPhoto" alt="{{individual_product.name}}" class="card-img-top">
          </div>
          <div class="col-md-8">
            <div class="text-bold">
              <h4 class="text-bold card-title">{{individual_product.name}}</h4>
              <p class=" card-text product-description">
                {{individual_product.productDesc}}
              </p>
              <p><span class="float-left"><strong>MRP :</strong><del>{{individual_product.mrp}}</del></span>
              <span class="float-right"><strong>DP :</strong>{{individual_product.dp}}</span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Addresse Details :
      </div>
      <div class="card-body">
        <h5 class="card-title text-bold">{{user_address.name}}</h5>
        <p class="card-text">{{user_address.addLine1}}, {{user_address.addLine2}}</p>
        <p class="card-text">{{user_address.city}}, {{user_address.state}}</p>
        <p class="card-text">Postal Code: {{user_address.zipCode}}</p>
        <p class="card-text">Contact Number: {{user_contact_no}}</p>
        <a (click)="placeOrder()" class="btn btn-primary"> Delivery Here</a>
        <div class="alert alert-info" role="alert">
          <strong>Note:</strong>
          if you want to differrent adresse change your addresse in your profile.
          <span routerLink="/my-profile" class="text-info sim-pointer"> My profile</span>
        </div>
      </div>
    </div>
  </div>
</div>
