<br>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <form [formGroup]="userProfileForm" (ngSubmit)="updateProfile()">
          <div class="form-group ">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group ">
            <label for="mobile">Mobile Number</label>
            <input type="text" class="form-control" formControlName="mobileNumber">
          </div>
          <div class="row">
            <div class="form-group  col-md-6">
              <label for="age">Age</label>
              <input type="text" class="form-control" formControlName="age">
            </div>
            <div class="form-group  col-md-6">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" formControlName="dob">
            </div>
          </div>
          <div class="form-group ">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="example@example.com">
          </div>
          <div class="row">
            <div class="form-group ">
              <label for="password">Password</label>
              <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group ">
            <label for="addressOne">Address</label>
            <input type="text" class="form-control" formControlName="adresseOne" placeholder="Address Line 1">
          </div>
          <div class="form-group ">
            <input type="text" class="form-control" formControlName="adresseTwo" placeholder="Address Line 2">
          </div>
          <div class="row">
            <div class="form-group  col-md-6">
              <label for="city">City</label>
              <input type="text" class="form-control" formControlName="city" placeholder="City">
            </div>

            <div class="form-group  col-md-4">
              <label for="zipCode">Zip Code</label>
              <input type="text" class="form-control" formControlName="zipCode" placeholder="Zip Code">
            </div>
          </div>
          <div class="form-group ">
            <label for="language">Language</label>
            <select name="language" id="selectLanguage" formControlName="language" class="form-control">
              <option value="En" selected>English</option>
              <option value="Fr">French</option>
              <option value="Ar">Arabic</option>
            </select>
          </div>
          <div class="form-group ">
            <label for="gender">Gender:</label>
            <div class="form-check form-check-inline">
              <input type="radio" name="" class="form-check-inline" formControlName="gender" value="Male">
              <label for="male" class="form-check-inline">Male</label>
            </div>
            <div class="form-check form-check-inline">

              <input type="radio" name="" class="form-check-inline" formControlName="gender" value="Female">
              <label for="female" class="form-check-inline">Female</label>
            </div>
          </div>
          <div class="form-group ">
            <label for="aboutYou">Something about you</label>
            <textarea class="form-control" formControlName="aboutYou" placeholder="......"></textarea>
          </div>
          <div class="form-group">
            <label for="photo">upload Your photo</label>
            <input type="file" class="form-control" formControlName="uploadPhoto" placeholder="......">
          </div>
          <div class="form-group ">
            <label for="state">State</label>
            <select name="state" id="inputState" class="form-control" formControlName="state">
              <option value="" selected disabled>Choose State...</option>
              <option value="ok" >ok</option>
              <option value="no" >no</option>
              <!-- Add options for states here -->
            </select>
          </div>
          <button type="submit" class="btn btn-primary" >Update Your Profile</button>
        </form>
      </div>
    </div>
  </div>
</div>
